<div>
  <!-- Developer info -->
  <div>
    <p>Developed by</p>
    <p>Beatriz Martínez Pérez</p>
    <p>More about me:</p>
    <img src="../../../assets/logo-facebook.png" alt="Facebook profile">
    <img src="../../../assets/logo-github.png" alt="Github profile">
    <img src="../../../assets/logo-web-site.png" alt="Website">
    <img src="../../../assets/logo-gmail.png" alt="Gmail">
  </div>
  <!-- Links -->
  <div>
    <div>
      <img src="../../../assets/logo-black.png" alt="UT-Travelers">
      <a>Star us on Github!</a>
    </div>
    <div>
      <img src="../../../assets/logo-ccusa.png" alt="CCUSA">
      <a>Visit CCUSA's website</a>
      <p>Telephones</p>
      <p>222 2353748 and 222 2265449</p>
    </div>
  </div>
  <!-- Commentaries -->
  <div>
    <p>Send us your commentaries:</p>
    <input type="text">
    <button type="button" class="btn btn-success">Send</button>
  </div>
</div>
