.footer {
  position: relative;
  top: 70px;
  background-color: black;
}
.info {
  margin: 20px;
  border-right: 5px solid #fff;
  text-align: center;
  padding: 20px;
}
.links {
  margin: 20px;
  padding: 20px;
  border-right: 5px solid #fff;
}
.info-links {
  height: 70px;
  padding: 0px 5px;
}
.link-ind {
  width: 50%;
  padding: 5px;
  max-width: 300px;
}
.mx-auto {
  width: 250px;
}
.commentaries {
  padding: 20px;
  margin: 20px;
  border-right: 5px solid #fff;
}
.commentaries-input {
  width: 100%;
  height: 150px;
  font-size: 24px;
  resize: none;
}
.commentaries-btn {
  height: 50px;
  margin: 20px;
  font-size: 25px;
}
.ccusa-logo {
  margin: 33px 0px;
}
@media screen and (max-width: 1130px) {
  .footer {
    top: -30px;
    flex-wrap: wrap;
  }
  .info > p, .text-center, .commentaries-btn, .commentaries-input {
    font-size: 18px;
  }
  .info-links {
    height: 50px;
  }
  .mx-auto {
    width: 200px;
  }
  .info {
    padding-top: 5%;
  }
}
@media screen and (max-width: 932px) {
  .links {
    width: 100%;
  }
  .link-ind {
    max-width: 500px;
  }
  .commentaries, .links, .info {
    border-right: none;
    border-bottom: 3px solid #fff;
  }
}
