<div class="footer">
  <!-- Commentaries -->
  <div class="commentaries flex-fill">
    <p class="text-center">Send us your commentaries:</p>
    <textarea type="text" rows="5" class="commentaries-input" [(ngModel)]="commentary"></textarea>
    <button type="button" class="btn btn-success commentaries-btn mx-auto d-block" (click)="addCommentary()">Send</button>
  </div>
  <div class="flex-wrap">
    <!-- Links -->
    <div class="link flex-wrap">
      <div class="link-ind">
        <img src="../../../assets/logo-black.png" class="mx-auto d-block" alt="UT-Travelers"><br>
        <a href="https://github.com/tris460/UT-Travelers" target="_blank"><p class="text-center">Star us on Github!</p></a>
        <p class="text-center">Created in 2022 as professional practices project.</p>
      </div>
      <div class="link-ind">
        <img src="../../../assets/logo-ccusa.png" class="mx-auto d-block ccusa-logo" alt="CCUSA"><br>
        <a href="https://ccusa.com.mx/" target="_blank"><p class="text-center">CCUSA's website</p></a>
        <p class="text-center">Telephones:<br>222 2353748<br>222 2265449</p>
      </div>
    </div>
    <!-- Developer info -->
    <div class="info flex-fill">
      <p>Developed by</p>
      <p>Beatriz Martínez Pérez</p><br><br>
      <p>More about me:</p>
      <a href="https://www.facebook.com/BettyMtzPerez/" target="_blank">
        <img src="../../../assets/logo-facebook.png" class="info-links" alt="Facebook profile">
      </a>
      <a href="https://github.com/tris460" target="_blank">
        <img src="../../../assets/logo-github.png" class="info-links" alt="Github profile">
      </a>
      <a href="https://tris460.github.io/BeatrizMartinez/" target="_blank">
        <img src="../../../assets/logo-web-site.png" class="info-links" alt="Website">
      </a>
      <a href="mailto:trism460@gmail.com?Subject=I%20saw%20your%20page%20UT-Travelers" target="_blank">
        <img src="../../../assets/logo-gmail.png" class="info-links" alt="Gmail">
      </a>
      <a href="https://www.linkedin.com/in/betymartinez/" target="_blank">
        <img src="../../../assets/logo-linkedin.png" class="info-links" alt="Linkedin">
      </a>
    </div>
  </div>
</div>
