<div class="programs">
  <!-- Title -->
  <div class="title">
    <p>Programs</p>
  </div>
  <!-- Programs list -->
  <div class="programs-list">
    <img src="../../../assets/logo-ccusa.png" class="ccusa" alt="CCUSA logo">
    <div class="container">
      <div class="row">
        <!-- Program 1 -->
        <div class="card mb-3 col" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="../../../assets/program1-USA.jpeg" class="img-fluid rounded-start" alt="Summer Camps in the USA">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Summer Camps in the USA</h5>
                <p class="card-text">Work in one of the summer camps available in the USA. This program is available for people who can be support staff & camp counselors.</p>
                <a href="https://ccusa.com.mx/summer-camp-usa/"><p class="card-text"><small class="text-muted">Visit site</small></p></a>
              </div>
            </div>
          </div>
        </div>
        <!-- Program 2 -->
        <div class="card mb-3 col" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="../../../assets/program2-Canada.jpeg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Summer Camps in Canada</h5>
                <p class="card-text">Work and practice your English in a summer camp in Canada. This program applies only for camp counselors.</p>
                <a href="https://ccusa.com.mx/summer-camp-usa/"><p class="card-text"><small class="text-muted">Visit site</small></p></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <!-- Program 3 -->
        <div class="card mb-3 col" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="../../../assets/program3-USA.jpeg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Work and Travel in the USA</h5>
                <p class="card-text">Work in a hotel, restaurant or an amusement park while you are traveling around the USA.</p>
                <a href="https://ccusa.com.mx/summer-camp-usa/"><p class="card-text"><small class="text-muted">Visit site</small></p></a>
              </div>
            </div>
          </div>
        </div>
        <!-- Program 4 -->
        <div class="card mb-3 col" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="../../../assets/program4-intern.jpeg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Inter and trainee programs</h5>
                <p class="card-text">Travel to the USA or Canada to get an intercultural experience and improve your language.</p>
                <a href="https://ccusa.com.mx/summer-camp-usa/"><p class="card-text"><small class="text-muted">Visit site</small></p></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
