.programs {
  position: relative;
  top: 100px;
}
.ccusa {
  position: absolute;
  right: 38%;
  bottom: 20%;
  z-index: 1;
  opacity: 0.3;
}
.programs-list {
  padding: 3% 5%;
}
.card-text {
  color: #000;
  font-size: 18px;
}
.text-muted {
  text-decoration: underline;
}
.container {
  width: 90%;
}
.col {
  margin: 3%;
}
@media screen and (max-width: 1130px) {
  .programs {
    top: 0px;
  }
  .ccusa {
    opacity: 1;
    left: 1%;
    top: 1%;
    height: 60px;
  }
}
@media screen and (max-width: 540px) {
  .row {
    display: block;
  }
  .ccusa {
    top: 10px;
  }
}
