<div class="forum">
  <!-- Title -->
  <div class="title">
    <p>Forum</p>
  </div>
  <div class="forum-content">
    <!-- Search bar -->
    <div class="search">
      <p class="letter-25">Search question</p>
      <form class="d-flex" role="search">
        <input class="form-control me-2 letter-25" type="search" placeholder="&#xf002;" aria-label="Search">
        <button class="btn btn-light letter-25" type="submit">Search</button>
      </form>
      <button type="button" class="btn btn-light letter-25"><i class="fa-solid fa-plus"></i> Add question</button>
      <button type="button" class="btn btn-light letter-25"><i class="fa-solid fa-sliders"></i> Filter</button>
    </div>
    <!-- Questions -->
    <div class="questions-list" *ngFor="let q of questions; let i = index">
      <div class="questions">
        <p><b>#{{i+1}} {{q.strQuestion}}</b></p>
        <p>{{q.strStatus}} | {{q.dateDate.slice(0,10)}}</p>
        <p>{{q.strTopic}}</p><br>
        <p *ngIf="q.arrAnswers.length == 0" class="no-data">This question does not have any answer yet. Be the first one answering.</p>
        <div *ngFor="let a of q.arrAnswers">
          <p>{{a}}</p>
        </div>
        <button class="btn btn-light letter-25" type="submit">Answer</button>
      </div>
    </div>
    <!-- Paginator -->
    <nav aria-label="Paginator" class="paginator">
      <ul class="pagination pagination-lg justify-content-center">
        <li class="page-item active"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
      </ul>
    </nav>
  </div>
</div>
