<div class="forum">
  <!-- Title -->
  <div class="title">
    <p>Forum</p>
  </div>
  <div class="forum-content">
    <!-- Search bar -->
    <div class="search">
      <p class="letter-25">Search question</p>
      <form class="d-flex" role="search">
        <input class="form-control me-2 letter-25" type="search" placeholder="&#xf002; Search question" aria-label="Search" [(ngModel)]="searchText" [ngModelOptions]="{standalone: true}">
      </form>
      <form *ngIf="showFormAdd">
        <input type="text" class="form-control me-2 letter-25" placeholder="Question" [(ngModel)]="newQuestion" [ngModelOptions]="{standalone: true}">
        <input type="text" class="form-control me-2 letter-25" placeholder="Status" [(ngModel)]="newStatus" [ngModelOptions]="{standalone: true}">
        <input type="text" class="form-control me-2 letter-25" placeholder="Topic" [(ngModel)]="newTopic" [ngModelOptions]="{standalone: true}">
        <button type="button" class="btn btn-light letter-25" (click)="addQuestion()"><i class="fa-solid fa-save"></i> Save</button>
        <button type="button" class="btn btn-danger letter-25" (click)="showFormAdd = false"><i class="fa-solid fa-cancel"></i> Cancel</button>
      </form>
      <button type="button" class="btn btn-light letter-25" (click)="showForm()"><i class="fa-solid fa-plus"></i> Add</button>
      <select class="form-select letter-25" id="selectFilter" (change)="filterQuestions()">
        <option selected value="1.0">Filter</option>
        <option value="1.1">Status: Solved</option>
        <option value="1.2">Status: Unsolved</option>
        <option value="1.3">Status: Urgent</option>
        <option value="1.4">Status: Without answers</option>
        <option value="2.1">Topic: Costs</option>
        <option value="2.2">Topic: Dates</option>
        <option value="2.3">Topic: Others</option>
      </select>
    </div>
    <!-- Questions -->
    <div class="questions-list" *ngFor="let q of questions | filter:searchText">
      <div class="questions">
        <p><b>{{q.strQuestion}}</b></p>
        <p>{{q.strStatus}} | {{q.dateDate.slice(0,10)}}</p>
        <p>{{q.strTopic}}</p><br>
        <p *ngIf="q.arrAnswers.length == 0" class="no-data" (click)="addQuestion()">This question does not have any answer yet. Be the first one answering.</p>
        <div *ngFor="let a of q.arrAnswers">
          <p>{{a}}</p>
        </div>
        <button class="btn btn-light letter-25" type="submit">Answer</button>
      </div>
    </div>
    <div class="view-more">
      <p (click)="viewMore()" *ngIf="!allQuestionsVisible"><i class="fa-solid fa-caret-down"></i> View More</p>
      <p (click)="viewLess()" *ngIf="allQuestionsVisible"><i class="fa-solid fa-caret-up"></i> View Less</p>
    </div>
  </div>
</div>
