<div>
  <!-- Alert -->
  <div>
    <p>Remember that all the programs in here are from <a href="https://ccusa.com.mx/" target="_blank">CCUSA</a> agency.</p>
  </div>
  <!-- Profile picture -->
  <div>
    <img src="../../../assets/no-image.png" alt="Profile picture">
    <div>
      <img src="../../../assets/icon-change.png" alt="Change photo">
    </div>
  </div>
  <!-- User info -->
  <div>
    <p>User name</p>
    <p>Career</p>
    <p>More</p>
    <p>Change email</p>
    <p>Change password</p>
    <p>Change birthday</p>
    <p>Change name</p>
    <p>Change career</p>
    <p>Change phone number</p>
    <p>Delete my account</p>
    <p>Less</p>
  </div>
  <!-- Programs - User -->
  <div>
    <p>My Programs</p>
    <p>You don't have any register yet! :(</p>
    <button type="button" class="btn btn-success">Add previous program</button>
  </div>
  <!-- Programs Admin -->
  <div>
    <p>Most Popular Programs</p>
    <p>There're no popular programs.</p>
  </div>
  <!-- Questions -->
  <div>
    <p>My Questions</p>
    <p>You don't have any question yet! :(</p>
  </div>
  <!-- Careers -->
  <div>
    <p>Most Common Careers</p>
    <p>There're no careers yet.</p>
  </div>
</div>
