<div class="user">
  <!-- Alert -->
  <div class="alert">
    <p>Remember that all the programs in here are from <a href="https://ccusa.com.mx/" target="_blank">CCUSA</a> agency.</p>
  </div>
  <div class="flex-nowrap">
    <div class="flex-wrap user-data">
      <!-- Profile picture -->
      <div class="profile">
        <img id="Profile-Picture" src="../../../assets/no-image.png" class="profile-picture" alt="Profile picture">
        <div>
          <img src="../../../assets/icon-change.png" class="profile-change" alt="Change photo">
        </div>
      </div>
      <!-- User personal info -->
      <div class="info">
        <p class="text">{{userName}}</p>
        <p class="text">{{career}}</p>
        <p class="sh-letter" (click)="showInfo = !showInfo" *ngIf="!showInfo">More <img src="../../../assets/icon-more.png" class="view view-more" alt="More"></p>
        <div *ngIf="showInfo">
          <p class="sh-letter">Email: {{emailActualUser}}</p>
          <p class="sh-letter">Change password</p>
          <p class="sh-letter">Birthday: {{birthday}}</p>
          <p class="sh-letter">Phone: {{phoneNumber}}</p>
          <p class="sh-letter danger" (click)="deleteUser = !deleteUser">Delete my account</p>
          <div *ngIf="deleteUser">
            <input type="password" placeholder="Type your password to confirm" class="delete-input" [(ngModel)]="confirmDelete">
            <button (click)="deleteAccount()" class="btn btn-success">Confirm</button>
          </div>
          <p class="sh-letter" (click)="showInfo = !showInfo">Less <img src="../../../assets/icon-more.png" class="view view-less" alt="Less"></p>
        </div>
      </div>
    </div>
    <!-- User info -->
    <div class="flex-wrap user-info">
      <!-- Programs - User -->
      <div class="programs" *ngIf="rolUser=='user'">
        <p class="text">My Programs</p>
        <ul *ngFor="let p of programs">
          <li class="sh-letter">{{p}}</li>
          </ul>
        <p class="sh-letter danger" *ngIf="programs.length == 0">You don't have any register yet! :(</p>
        <a class="sh-letter" (click)="addPrevProgram = !addPrevProgram">Want to add another program?</a>
        <div *ngIf="addPrevProgram">
          <input type="text" placeholder="Previous program's name" [(ngModel)]="previousProgram"><br>
          <button type="button" class="btn btn-success" (click)="addPreviousProgram()">Add previous program</button>
        </div>
      </div>
      <!-- Programs Admin -->
      <div class="programs" *ngIf="rolUser=='admin'">
        <p class="text">Most Popular Programs</p>
        <p class="sh-letter danger">There're no popular programs.</p>
      </div>
      <!-- Questions -->
      <div class="questions">
        <p class="text">My Questions</p>
        <p class="sh-letter danger" *ngIf="forumQuestions.length === 0">You don't have any question yet! :(</p>
        <a class="sh-letter" (click)="showQuestions = !showQuestions" *ngIf="forumQuestions.length > 0">View my questions</a>
        <div *ngIf="showQuestions">
          <div *ngFor="let q of forumQuestions">
            <div class="question__list">
              <p class="question__title"><b>{{q.strQuestion}}</b></p>
              <ul class="question__answers" *ngFor="let ans of q.arrAnswers">
                <li>{{ans}}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- Careers -->
      <div class="careers" *ngIf="rolUser=='admin'">
        <p class="text">Most Common Careers</p>
        <p class="sh-letter danger">There're no careers yet.</p>
      </div>
    </div>
  </div>
</div>
