<div class="user">
  <!-- Alert -->
  <div class="alert">
    <p>Remember that all the programs in here are from <a href="https://ccusa.com.mx/" target="_blank">CCUSA</a> agency.</p>
  </div>
  <div class="flex-nowrap">
    <div class="flex-wrap user-data">
      <!-- Profile picture -->
      <div class="profile">
        <img id="Profile-Picture" src="../../../assets/no-image.png" class="profile-picture" alt="Profile picture">
        <div>
          <img src="../../../assets/icon-change.png" class="profile-change" alt="Change photo">
        </div>
      </div>
      <!-- User personal info -->
      <div class="info">
        <p class="text">{{userName}}</p>
        <p class="text">{{career}}</p>
        <p class="sh-letter" (click)="showInfo = !showInfo" *ngIf="!showInfo">More <img src="../../../assets/icon-more.png" class="view view-more" alt="More"></p>
        <div *ngIf="showInfo">
          <p class="sh-letter">Email: {{emailActualUser}}</p>
          <p class="sh-letter">Change password</p>
          <p class="sh-letter">Birthday: {{birthday}}</p>
          <p class="sh-letter">Phone: {{phoneNumber}}</p>
          <p class="sh-letter danger" (click)="deleteAccount()">Delete my account</p>
          <p class="sh-letter" (click)="showInfo = !showInfo">Less <img src="../../../assets/icon-more.png" class="view view-less" alt="Less"></p>
        </div>
      </div>
    </div>
    <!-- User info -->
    <div class="flex-wrap user-info">
      <!-- Programs - User -->
      <div class="programs" *ngIf="rolUser=='user'">
        <p class="text">My Programs</p>
        <p class="sh-letter danger">You don't have any register yet! :(</p>
        <button type="button" class="btn btn-success">Add previous program</button>
      </div>
      <!-- Programs Admin -->
      <div class="programs" *ngIf="rolUser=='admin'">
        <p class="text">Most Popular Programs</p>
        <p class="sh-letter danger">There're no popular programs.</p>
      </div>
      <!-- Questions -->
      <div class="questions">
        <p class="text">My Questions</p>
        <p class="sh-letter danger">You don't have any question yet! :(</p>
      </div>
      <!-- Careers -->
      <div class="careers" *ngIf="rolUser=='admin'">
        <p class="text">Most Common Careers</p>
        <p class="sh-letter danger">There're no careers yet.</p>
      </div>
    </div>
  </div>
</div>
