<!-- Menu bar -->
<div class="menu">
  <!-- Logo -->
  <div class="logo">
    <img src="../../../assets/logo-green.png" alt="UT-Travelers logo">
  </div>
  <!-- Links -->
  <div class="links">
    <a href="#home">Home</a>
    <a href="#statistics">Statistics</a>
    <a href="#programs">Programs</a>
    <a href="#experiences">Experiences</a>
    <a href="#forum">Forum</a>
    <a href="#about">About</a>
    <a href="#login">Login</a>
  </div>
</div>

<!-- Menu responsive -->
<div class="menu-responsive">
  <!-- Icon -->
  <div class="icon">
    <i class="fa-solid fa-bars"></i>
  </div>
  <!-- Logo -->
  <div class="logo mx-auto d-block">
    <img src="../../../assets/logo-green.png" alt="UT-Travelers logo">
  </div>
  <!-- Links -->
  <div class="links">
    <br><a href="#home">Home</a><br>
    <a href="#statistics">Statistics</a><br>
    <a href="#programs">Programs</a><br>
    <a href="#experiences">Experiences</a><br>
    <a href="#forum">Forum</a><br>
    <a href="#about">About</a><br>
    <a href="#login">Login</a>
  </div>
</div>

<!-- Information -->
<div class="info">
  <app-main id="home"></app-main>
  <app-user id="home"></app-user>
  <app-statistics id="statistics"></app-statistics>
  <app-programs id="programs"></app-programs>
  <app-experiences id="experiences"></app-experiences>
  <app-forum id="forum"></app-forum>
  <app-footer id="about"></app-footer>
</div>
