.login {
  background-color: #000000;
  padding: 40px;
  padding-top: 110px;
  min-height: 100vh;
}
.content {
  background-color: #fff;
  min-height: 40%;
  margin-top: auto;
  margin-bottom: auto;
  padding: 10px 5px;
}
.flex-wrap {
  justify-content: space-around;
}
.buttons {
  width: 100%;
}
.buttons > button {
  width: 50%;
  height: 60px;
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  background-color: #2f7c72;
  color: #fff;
  border-color: #fff;
  border-radius: 10%;
}
.content-login, .content-register {
  padding: 5%;
}
.login-input > input, .register-input > input {
  display: block;
  margin: 10px;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  border: none;
  border-bottom: 2px solid #2f7c72;
  margin-bottom: 40px;
}
.register-input > input {
  margin-bottom: 25px;
}
.login-input > input:focus, .register-input > input:focus {
  outline: none;
  border: 2px solid #2f7c72;
}
.btn-login {
  background-color: #2f7c72;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: #fff;
  border: none;
  padding: 10px;
  width: 150px;
  justify-content: center;
}
