<div class="login row">
  <div class="content col-md-6 offset-md-3">
    <div class="flex-wrap">
      <!-- Content Login-->
      <div class="content-login">
        <div class="content-title">
          <p>Login</p>
        </div>
        <!-- Inputs -->
        <div class="login-input">
          <input type="text" placeholder="Email" name="loginEmail" (ngModel)="loginEmail">
          <input type="password" placeholder="Password" name="loginPassword" (ngModel)="loginPassword">
        </div>
        <!-- Button -->
        <button type="button" class="btn-login mx-auto d-flex" (click)="login()">Login</button>
        <p>Forgot your password?</p>
      </div>
      <!-- Content Register -->
      <div class="content-register">
        <div class="content-title">
          <p>Register</p>
        </div>
        <!-- Inputs -->
        <div class="register-input">
          <input type="email" placeholder="Institutional email" name="registerEmail" (ngModel)="registerEmail">
          <input type="password" placeholder="Password" name="registerPassword" (ngModel)="registerPassword">
          <input type="password" placeholder="Confirm password" name="registerPasswordConfName" (ngModel)="registerPasswordConf">
          <input type="text" placeholder="Name" name="registerName" (ngModel)="registerName">
          <input type="text" placeholder="Last name" name="registerLastName" (ngModel)="registerLastName">
          <input type="date" placeholder="Birthday" name="registerBirthday" (ngModel)="registerBirthday">
          <input type="tel" placeholder="Phone" name="registerPhone" (ngModel)="registerPhone">
          <input type="text" placeholder="Career" name="registerCareer" (ngModel)="registerCareer">
        </div>
        <!-- Button -->
        <button type="button" class="btn-login mx-auto d-flex">Register</button>
      </div>
    </div>
  </div>
</div>
