<div class="experiences">
  <!-- Title -->
  <div class="title">
    <p>Experiences</p>
  </div>
  <!-- Experiences list -->
  <div class="experiences-list">
    <div id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-touch="false">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="flex-nowrap">
            <div class="ind-experience" *ngFor="let exp of experiencesListShown; let i=index">
              <img src={{exp.strPhoto}} class="mx-auto d-block picture d-block" alt="User image">
              <p class="md-letter"><i>"{{exp.strDescription}}"</i></p>
              <p class="md-letter-20">-{{exp.strName}}</p>
              <a class="md-letter-20" (click)="getContactInformation(i)">Contact</a>
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-next" (click)="showNext()" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <!-- Contact -->
  <div class="contact" *ngIf="!logged">
    <p>Want to add your experience? <a href="mailto:trism460@gmail.com?Subject=Want%20to%20add%20my%20experience%20-UTTravelers" class="contact-mail">Contact us</a></p>
  </div>
  <div class="contact" *ngIf="showForm">
    <input class="contact__input" type="text" placeholder="Write your experience here" [(ngModel)]="newExperience"><br>
    <button class="btn btn-success" (click)="addExperience()">Add Experience</button>
  </div>
  <div class="contact" (click)="showForm = !showForm" *ngIf="logged">
    <p><u>Add my experience</u></p>
  </div>
</div>
