<div class="experiences">
  <!-- Title -->
  <div class="title">
    <p>Experiences</p>
  </div>
  <!-- Experiences list -->
  <div class="experiences-list">
    <div id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-touch="false">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="flex-nowrap">
            <div class="ind-experience" *ngFor="let exp of experiencesList">
              <img src="../../../assets/no-image.png" class="mx-auto d-block picture d-block" alt="User image">
              <p class="md-letter"><i>"{{exp.strDescription}}"</i></p>
              <p class="md-letter-20">-{{exp.strName}}</p>
              <a class="md-letter-20">Contact</a>
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <!-- Contact -->
  <div class="contact">
    <p>Want to add your experience? <a href="mailto:trism460@gmail.com?Subject=Want%20to%20add%20my%20experience%20-UTTravelers" class="contact-mail">Contact us</a></p>
  </div>
</div>
