<div class="main">
  <!-- Carousel -->
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="5000">
        <img src="../../../assets/carousel-igc.jpg" class="d-block" alt="International Gymnastics Camp">
        <div class="carousel-caption d-none d-md-block">
          <h5>International Gymnastics Camp</h5>
          <p>It is the only camp that offers premier gymnastics training, with a traditional summer camp experience</p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="5000">
        <img src="../../../assets/carousel-loyaltown.jpg" class="d-block" alt="Camp Loyaltown">
        <div class="carousel-caption d-none d-md-block">
          <h5>Camp Loyaltown</h5>
          <p>Program of Citizens Options Unlimited, a leading provider of services for people with intellectual and developmental disabilities</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!-- Information -->
  <div class="site">
    <img src="../../../assets/logo-black.png" alt="Ut-Travelers" class="site-logo mx-auto d-block">
    <p class="site-slogan">The site that helps you in your internationalization process.</p>
    <p class="site-description">Here you can find all the things you will need to take the best decision and get the best summer in one of the camps available for you.</p>
  </div>
</div>

