/* You can add global styles to this file, and also import other style files */
a, p {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-size: 25px;
}
.imgs {
  width: 400px;
}
.title {
  background-color: #2f7c72;
  width: 100%;
  padding: 10px;
  text-align: center;
}
.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}
.flex-nowrap {
  display: flex;
  flex-wrap: nowrap;
}
.text {
  color: #000;
  font-weight: bolder;
}
.sh-letter {
  font-weight: 600;
  color: #000;
  font-size: 18px;
  line-height: 90%;
}
.danger {
  color: #da1e1e;
  font-weight: 600;
}
.menu {
  display: flex;
  position: fixed;
  z-index: 2;
  width: 100%;
  background-color: #2f7c72;
  top: 0;
}
.logo > img {
  height: 100px;
}
.links {
  position: absolute;
  right: 0%;
  padding-right: 25px;
}
.links > a {
  padding:  25px;
  line-height: 100px;
  text-align: end;
  text-decoration: none;
}
.links > a:hover {
  color: #00ffbfd7;
}
.menu-responsive {
  display: none;
}
router-outlet {
  overflow: hidden;
}
@media screen and (max-width: 1130px) {
  .menu {
    display: none;
  }
  .menu-responsive {
    display: inline-grid;
    background-color: #2f7c72;
    z-index: 2;
    border-end-end-radius: 15px;
    position: absolute;
    position: fixed;
    left: -225px;
  }
  .menu-responsive:hover {
    transition: all 1s;
    left: 0px;
  }
  .info:active, .menu-responsive {
    left: -225px;
    transition: all 1s;
  }
  .logo {
    display: inline;
  }
  .logo > img {
    height: 190px;
  }
  .icon {
    padding: 10px;
    color: #fff;
    display: inline;
    font-size: 50px;
    position: absolute;
    left: 220px;
    background-color: #2f7c72;
    border-end-end-radius: 15px;
  }
  .links {
    position: relative;
    display: inline;
    padding-bottom: 10px;
  }
  .links > a {
    line-height: 2;
  }
  .sh-letter {
    font-size: 15px;
  }
  .text {
    font-size: 20px;
  }
}
