/* You can add global styles to this file, and also import other style files */
a, p {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-size: 25px;
}
.imgs {
  width: 400px;
}
.title {
  background-color: #2f7c72;
  width: 100%;
  padding: 10px;
  text-align: center;
}
.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}
.flex-nowrap {
  display: flex;
  flex-wrap: nowrap;
}
.text {
  color: #000;
  font-weight: bolder;
}
.sh-letter {
  font-weight: 600;
  color: #000;
  font-size: 18px;
  line-height: 90%;
}
.danger {
  color: #da1e1e;
  font-weight: 600;
}
@media screen and (max-width: 1130px) {
  .sh-letter {
    font-size: 15px;
  }
  .text {
    font-size: 20px;
  }
}
