.statistics {
  position: relative;
  top: 100px;
}
.chart {
  width: 900px;
  height: 650px;
}
.flex-wrap {
  justify-content: center;
}
@media screen and (max-width: 1130px) {
  .statistics {
    top: 0px;
  }
  .chart {
    width: 450px;
    height: 325px;
  }
}
